
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span>{{action}} Medicamento presentacion</span>
        </div>
        <div class="mws-panel-body no-padding">
            <form class="mws-form" name="form" novalidate>
                <div class="mws-form-inline">

                    <div class="mws-form-row" ng-class="{error: form.Nombre.$invalid}">
                        <label class="mws-form-label">Nombre</label>
                        <div class="mws-form-item">
                            <input type="text" ng-model="medicamentopresentacion.Nombre" class="large" required name="Nombre">
                        </div>
                    </div>

                </div>

                <div class="mws-button-row">
                    <button type="submit" ng-click="save(medicamentopresentacion)" ng-disabled="form.$invalid" class="btn btn-danger">{{action}}</button>
                    <a href="#/medicamentopresentacion" class="btn btn-default">Regresar <i class="glyphicon glyphicon-arrow-left"></i></a>
                </div>
            </form>
        </div>
    </div>
