<div class="mws-panel grid_8">
    <div class="mws-panel-header">
        <span><i class="icon-magic"></i> Consulta</span>
    </div>
    <div class="mws-panel-body no-padding">
        <form class="mws-form wzd-vertical">

            <fieldset class="wizard-step mws-form-inline">
                <legend class="wizard-label"><i class="icol-user"></i> Datos del Paciente</legend>
                <div class="mws-form-row">
                    <label class="mws-form-label">Nombre Completo</label>
                    <div class="mws-form-item">
                        <input type="text" name="fullname" value="Cita de Ejemplo" disabled class="required large">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">Peso</label>
                    <div class="mws-form-item">
                        <input type="text" name="email" class="required email large">
                    </div>
                </div>
                
                
            </fieldset>

            <fieldset class="wizard-step mws-form-inline">
                <legend class="wizard-label"><i class="icol-accept"></i> Sintomas</legend>
                <div class="mws-form-row">
                    <label class="mws-form-label">Sintoma</label>
                    <div class="mws-form-item">
                        <input type="text" name="email" class="required email large">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">Observaciones</label>
                    <div class="mws-form-item">
                        <textarea name="address" rows="" cols="" class="required large"></textarea>
                    </div>
                </div>
                
                
            </fieldset>

            <fieldset class="wizard-step mws-form-inline">
                <legend class="wizard-label"><i class="icol-accept"></i> Medicina</legend>

                <div class="mws-form-row">
                    <label class="mws-form-label">Cantidad Unidades<span class="required">*</span></label>
                    <div class="mws-form-item">
                        <input type="text" name="email" class="required email large">
                    </div>
                </div>



                <div class="mws-form-row">
                    <label class="mws-form-label">Medicina</label>
                    <div class="mws-form-item">
                        <select class="required large">
                            <option>Panadol</option>
                            <option>Bronquiol</option>
                            <option>Unipulmin</option>
                        </select>
                    </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">Cantidad Dosificacion</label>
                    <div class="mws-form-item">
                        <input type="number" name="email" class="required email large">
                    </div>
                </div>

                <div class="mws-form-row">
                    <label class="mws-form-label">Dosificacion</label>
                    <div class="mws-form-item">
                        <select class="required large">
                            <option>Miligramos</option>
                            <option>Mililitros</option>
                            <option>Cucharada</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">Cantidad Dosis</label>
                    <div class="mws-form-item">
                        <input type="number" name="email" class="required email large">
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">Dosis</label>
                    <div class="mws-form-item">
                        <select class="required large">
                            <option>Al dia</option>
                            <option>Cada 8 Horas</option>
                            <option>No mas de 5 veces al dia</option>
                        </select>
                    </div>
                </div>
                <div class="mws-form-row">
                    <label class="mws-form-label">Observaciones</label>
                    <div class="mws-form-item">
                        <textarea name="address" rows="" cols="" class="required large"></textarea>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </div>
</div>